.header {
    height: 60px;
    background: linear-gradient(180deg, rgba(5,7,19,1) 0%, rgba(2,0,36,1) 32%, rgba(10,84,99,1) 100%);
    display: flex;
    justify-content: space-around;
}

.icons {
    background: transparent;
}

#dropdown {
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    border: transparent;
    height: 55px;
}

.footer {
    height: 60px;
    background: linear-gradient(180deg, rgba(5,7,19,1) 0%, rgba(2,0,36,1) 32%, rgba(10,84,99,1) 100%);
    display: flex;
    margin-top: 100%;

}
